<h3>
    {{leyenda}}
</h3>
<div class="input-group">
    <div class="input-group-prepend">
        <button type="button" class="btn btn-primary" (click)="cambiar_progeso(-5)">
            <i class="mdi mdi-minus"></i>
        </button>
    </div>
    <input #txtProgress type="number" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="1" max="100">
    <div class="input-group-append">
        <button type="button" class="btn btn-primary" (click)="cambiar_progeso(5)">
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>